.about {
  padding: 190px 0 140px;

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  &__col {
    max-width: 480px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & + & {
      margin-left: 120px;
    }
  }

  &__text {
    color: $text;
    margin-bottom: 30px;
  }
}

