.achieve {
  overflow: hidden;
  display: flex;
  @media (max-width: $r-md) {
    display: block;
  }

  &__content {
    flex: 0 0 100%;
    display: flex;
  }

  &__inner {
    width: 50%;
    padding: 200px 0 120px;
    @media (max-width: $r-md) {
      width: 100%;
      padding: 50px 0 20px;
    }
  }

  &__title {
    @include adaptiv-value ("margin-bottom", 100, 50, 0);
    text-align: left;
  }

  &__text {
    padding-right: 100px;
    @media (max-width: $r-md) {
      padding-right: 0;
    }

    p {
      margin-bottom: 30px;
    }
  }

  &__image {
    padding: 0 0 44% 0;
    position: relative;
    flex: 0 0 50%;
    transform: translate(-100%, 0px);
    background-size: cover;
    background-repeat: no-repeat;
    @media (max-width: $r-md) {
      width: 100%;
      transform: none;
    }
  }
}