.benefits {
  @include adaptiv-value("padding-top", 200, 50, 0);
  @include adaptiv-value("padding-bottom", 170, 50, 0);
  background-color: $bg;

  &__items {
    @include adaptiv-value("margin-bottom", 65, 30, 0);
    display: flex;
    justify-content: space-between;

    @media (max-width: 767px) {
      flex-wrap: wrap;
    }
  }

  &__item {
    max-width: 350px;
    margin-bottom: 35px;
  }

  &__title {
    margin: 0 0 10px 73px;
    min-height: 55px;
    max-width: 250px;
    padding-left: 65px;
    position: relative;
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    text-transform: uppercase;
    background-position: top left;
    background-size: contain;
    background-repeat: no-repeat;

    &::before {
      content: "";
      position: absolute;
      left: 0;
    } 

    &--1 {
      &::before {
        content: url(../images/icons/benefits-icon.svg);
      }
    }
    &--2 {
      &::before {
        content: url(../images/icons/benefits-icon2.svg);
      }
    }
    &--3 {
      &::before {
        content: url(../images/icons/benefits-icon3.svg);
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__stats {
    flex: 0 1 50%;
  }

  &__stat {
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      left: 0;
      top: 20%;
    }

    &--1 {
      max-width: 250px;
      &::before {
        content: url(../images/icons/wave-sm.svg);
      }
    }
    &--2 {
      max-width: 300px;
      &::before {
        content: url(../images/icons/wave-mid.svg);
      }
    }
    &--3 {
      max-width: 350px;
      &::before {
        content: url(../images/icons/wave-big.svg);
      }
    }
    span {
      font-size: 24px;
      line-height: 1;
    }
    p {
      text-align: left;
    }
  }

  &__description {
    flex: 0 1 50%;
    p {
      margin-bottom: 30px;
    }
  }
}