.benefits {
  @include adaptiv-value("padding-top", 190, 50, 0);
  @include adaptiv-value("padding-bottom", 190, 50, 0);
  background-color: $bg;
  
  &__items {
    @include adaptiv-value("margin-bottom", 65, 10, 0);
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: 767px) {
    &__items {
      justify-content: space-between;
    }
  }

  &__item {
    margin-bottom: 30px;
  }
  
  @media (min-width: 767px) {
    &__item {
      text-align: center;
      flex: 0 1 29.166666%;
    }
  }

  &__title {
    max-width: 150px;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
  }

  &__item-text {
    padding-top: 10px;
    text-align: start;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__stats {
    margin: 0 26px 30px 0;
  }

  &__stat {
    margin-bottom: 10px;
  }

  &__qty {
    font-size: 24px;
    line-height: 1;
  }

  &__result {
    width: 75%;
  }

  &__description {
    flex: 1 0 50%;
  }

  @media (min-width: 767px) {
    &__description {
      flex-grow: 0;
    }
  }

  &__text {
    
    & + & {
      margin-top: 30px;
    }
  }
}
