.blog {
  @include adaptiv-value("padding-top", 170, 80, 0);

  &__container {
    @include adaptiv-value("padding-top", 130, 0, 0);
    position: relative;
    overflow: hidden;
  }

  &__slide {
    @include adaptiv-value("height", 800, 500, 0);
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      position: absolute;
      background-color: rgba(36, 33, 33, 0.5);
    }
  }

  &__item {
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    @media (max-width: $r-sm) {
      justify-content: start;
      padding-left: 20px;
    }
  }

  &__text {
    max-width: 50%;
    padding-bottom: 30px;
    position: relative; //если убрать - блок ложится под фон .blog__item::before и затемняет текст, что не нужно
    color: #fff;
    @media (max-width: $r-sm) {
      max-width: 80%;
    }
  }

  &__title {
    text-transform: uppercase;
    @include adaptiv-font(48, 18);
    line-height: 1.15;
    font-weight: 400;
    margin: 0;
  }
  .swiper-container-horizontal>.swiper-pagination-bullets {
    @include adaptiv-value("bottom", 70, 20, 0);
    .swiper-pagination-bullet {
      @include adaptiv-value("width", 15, 10, 0);
      @include adaptiv-value("height", 15, 10, 0);
      margin: 0 0 0 15px;
      background-color: #fff;
      opacity: 1;
      outline: transparent;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #abcac7;
      }
    }
  
    .swiper-pagination-bullet-active {
      background-color: $green;
    }
  }
}
