.gallery {
  padding-bottom: 200px;

  .title {
    margin-bottom: 200px;
  }

  &__btns {
    margin-bottom: 50px;
  }

  &__btn {
    margin-right: 20px;
    border: none;
    background-color: transparent;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    transition: color 0.3s;
    outline: transparent;

    &:hover {
      color: #00B2A0;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: 767px) {
    &__inner {
      margin: 0 -40px 0 0;
    }
  }  
  
  flex-basis: 24%;
  
  flex-basis: 24%;
  
  &__img {
    margin: 0 40px 40px 0;
    object-fit: cover;
    object-position: center;
    
    &:nth-child(1) {
    flex-basis: 46%;
    }
  }

  .btn {
    margin: 10px auto 0;
    display: block;
  }
}

