.map {
  @include adaptiv-value("padding-top", 200, 50, 0);
  @include adaptiv-value("padding-bottom", 200, 50, 0);
  
  &__location {
    @include adaptiv-value("min-height", 640, 150, 0);
    position: relative;
  }

  &__image {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}