
.quote {
  background-color: #F8F8F8;

  &__inner {
    padding: 80px 0 60px;
    text-align: center;
  }

  &__text {
    display: inline-block;
    font-size: 36px;
    line-height: 1.1;
    font-weight: 400;
    font-style: italic;
    position: relative;
  }

  &__subtext {
    position: absolute;
    right: -25%;
    font-weight: 300;
    font-size: 14px;
  } 
}