.service {
  @include adaptiv-value("padding-top", 190, 50, 0);
  @include adaptiv-value("padding-bottom", 170, 50, 0);
  background-color: $bg;

  &__inner {
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  &__card {
    max-width: 360px;
    margin-bottom: 30px;
    padding: 45px 30px;
    text-align: center;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;

    & + & {
      margin-left: 60px;
    }
  }
  
  &__title {
    margin-bottom: 50px;
    font-size: 36px;
    line-height: 1.17;
  }
  
  &__list {
    text-align: left;
    margin-bottom: auto;
  }
  
  &__item {
    margin-bottom: 20px;
  }
  
  &__price {
    margin-top: 40px;
    font-size: 36px;
    line-height: 1.17;
    color: #01353E;
  }

  &__symbol {
    vertical-align: middle;
  }
}