/* start section service */
.service {
  @include adaptiv-value("padding-top", 200, 50, 0);
  @include adaptiv-value("padding-bottom", 170, 20, 0);
  background-color: $bg;

  &__inner {
    @include adaptiv-value("padding-top", 100, 0, 0);
    display: flex;
    justify-content: space-between;

    @media (max-width: $r-md) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__title {
    @include adaptiv-value("margin-bottom", 110, 50, 0);
  }

  &__card {
    margin-bottom: 30px;
    padding: 50px 30px 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 1 30%;
    background-color: #fff;
    text-align: center;

    @media (max-width: $r-md) {
      flex: 0 1 48%;
    }

    @media (max-width: $r-sm) {
      flex: 0 1 80%;
    }

    @media (max-width: $r-xsm) {
      /* негативный margin для более приятного отображения карточки на всю ширину + чтобы не трогать container */
      margin: 0 -20px 30px;
      flex: 1 1 100%;
    }
  }

  &__subtitle {
    margin: 0 0 60px 0;
    /* у меня в global прописаны стили для стандартного текста. на карточке видно, что заголовок и цена имеют одинаковые стили. Я продублировал стили и там и там, потому что если самой карточке прописать стили заголовка и цены, текст тоже становиться большим и более жирным, и ему нужно прописывать те самые стили из global, что немного странно для меня.  */
    font-weight: 400;
    font-size: 36px;
    line-height: 1.1;
  }

  &__list {
    margin-bottom: auto;

    li {
      text-align: left;
      margin: 0 0 20px 0;

      @media (max-width: $r-sm) {
        text-align: center;
      }
    }
  }

  &__price {
    /* margin-top выставлен, потому что у service__card применён display:flex */
    margin-top: 40px;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.1;
  }

  &__symbol {
    vertical-align: middle;
    font-size: 18px;
    line-height: 1.2;
  }
}
/* end section service */
