.stats {
  padding-bottom: 100px;
  
  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    text-align: center;

    & + & {
      margin-left: 90px;
    }
  }

  &__qty {
    margin-bottom: 5px;
    font-size: 64px;
    line-height: 1.17;
    font-weight: 700;
    color: #01353E;
  }
}