.submit {
  @include adaptiv-value("padding-top", 200, 80, 0);
  @include adaptiv-value("padding-bottom", 200, 50, 0);

  &__map {
    @include adaptiv-value("height", 640, 200, 0);
    max-width: 1473px;
    margin: 0 auto 200px;

    @media (max-width: $r-sm) {
      margin-bottom: 100px;
    }
  }

  &__title {
    @include adaptiv-value("margin-bottom", 240, 50, 0);
  }

  &__inner {
    @include adaptiv-value("margin-bottom", 200, 50, 0);
    display: flex;
    flex-wrap: wrap;
  }

  &__address {
    padding: 50px 30px 0 50px;
    display: flex;
    flex-direction: column;
    background-color: $bg;
    font-weight: 400;
    font-style: normal;
    @include adaptiv-font(24, 16);
    flex: 0 1 50%;

    @media (max-width: $r-sm) {
      flex: 1 1 100%;
    }

    @media (max-width: $r-xsm) {
      margin: 0 -20px 0;
      padding: 30px 20px;
    }

    p {
      margin-bottom: 65px;
    }

    p:last-child {
      max-width: 350px;

      @media (max-width: $r-xsm) {
        margin-bottom: 0;
      }
    }

    a {
      outline: transparent;
      &:focus {
        transform: scale(0.95);
      }

      &:hover {
        color: $green;
      }

      &:active {
        color: $green;
      }
    }
  }

  &__question {
    display: block;
  }

  &__tel {
    display: block;
    transition: all 0.3s;
  }
}

.form {
  padding: 0 30px 0 0;
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;

  @media (max-width: $r-sm) {
    flex: 1 1 100%;
    margin-bottom: 30px;
    padding: 0;
  }

  @media (max-width: $r-xsm) {
    margin: 0 -20px 30px;
  }

  &__input {
    border: transparent;
    border-bottom: 2px solid #dadada;
    padding: 0 0 17px 0;
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1;
    font-weight: 400;
    color: $text;
    outline: transparent;
    transition: all 0.3s;

    @media (max-width: $r-xsm) {
      padding-left: 10px;
    }

    &:focus {
      &::placeholder {
        color: transparent;
      }
    }

    &:hover {
      border-color: $green;
    }

    &:active {
      border-color: #000;
    }

    &::placeholder {
      color: $green;
    }

    &--phone {
      margin-bottom: 50px;
    }

    &--message {
      margin-bottom: 65px;
      resize: none;

      &::placeholder {
        max-width: 260px;
      }
    }
  }

  &__btn {
    @include btn-size;
    transition: all .3s;

    @media (max-width: $r-sm) {
      max-width: 300px;
      margin: 0 auto;
    }
  }
}

.social {
  @include adaptiv-font(24, 16);
  line-height: 1;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  li {
    margin-right: 10px;
    display: inline-block;
  }

  a {
    transition: all 0.3s;
    outline: transparent;
    &:focus {
      color: $green;
    }

    &:hover {
      color: $green;
    }

    &:active {
      box-shadow: 0 2px 3px 0px $green;
    }
  }
}