.team {
  @include adaptiv-value("padding-top", 200, 80, 0);
  @include adaptiv-value("padding-bottom", 155, 50, 0);

  &__title {
    @include adaptiv-value("margin-bottom", 210, 50, 0);  
  }

  &__list {
    display: flex;
    justify-content: space-between;
    @media (max-width: $r-md) {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }

  &__item {
    margin: 0 0 45px 0;
    flex: 0 1 27.5%;
    text-align: center;
    @media (max-width: $r-md) {
      flex-basis: 50%;
    }
    @media (max-width: $r-sm) {
      flex-basis: 100%;
    }
  }

  
  &__img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    object-position: center;
    @media (max-width: $r-md) {
      max-width: 330px;
    }
  }

  &__name {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1;
    font-weight: 700;
  }
}