.video {
  @include adaptiv-value("padding-top", 200, 50, 0);
  @include adaptiv-value("padding-bottom", 200, 50, 0);

  &__content {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: 767px) {
    &__content {
      min-height: 70vh;
    }
  }

  &__icon {
    cursor: pointer;
    transition: transform 0.3s;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.9);
    }
  }
}