//start header

.header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 0 0;
  }

  .logo {
    max-width: 150px;
    margin-right: 55px;
  }
  
  .menu {
    max-width: 950px;
    width: 100%;
    padding-top: 10px;
    &-list {
      display: flex;
      flex-wrap: wrap;
      @include adaptiv-font(24, 16);
      line-height: 1.15;

      &__item {
        margin-right: 45px;
        padding-bottom: 15px;
        font-weight: 400;
        color: #fff;
      }

      &__link {
        position: relative;
        transition: color 0.2s;

        &::before {
          content: "";
          width: 0;
          right: 50%;
          bottom: -1px;
          position: absolute;
          height: 1px;
          background-color: #00B2A0;
          transition: all 0.5s;
        }
    
        &:hover {
          &::before {
            width: 100%;
            right: 0;
            left: auto;
          }
        }

        &:active {
          color: $green;
        }

        &--active {
          border-bottom: 1px solid #00B2A0;
        }
      }
    }
  }
}

//end header